$font_large: 50px;
$font_medium_large: 30px;
$font_medium: 18px;
$font_small: 12px;

$mobile_font_large: 50px;
$mobile_font_medium_large: 24px; 
$mobile_font_medium: 12px;
$mobile_font_small: 8px;


body {
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

p {
    line-height: 1.75;
    font-size: $font_medium;
}

h1 {
    font-size: $font_large;
}

h3 {
    font-size: $font_medium_large;
}

h4 {
    font-size: $font_medium + 2px;
}

li {
    font-size: $font_medium;
}


@media screen and (max-width: 480px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: $mobile_font_medium
    }

    h4 {
        font-size: $mobile_font_medium_large;
    }

    li {
        font-size: $mobile_font_medium;
    }
}

@media screen and (max-width: 650px) {
    p {
        font-size: $mobile_font_medium
    }
    li {
        font-size: $mobile_font_medium;
    }
}

