$font_largest: 70px;
$font_medium_large: 30px;
$font_medium: 20px;

$mobile_font_largest: 50px;
$mobile_font_medium_large: 24px; 
$mobile_font_medium: 12px;

body {
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

p {
    line-height: 1.75;
    font-size: $font_medium;
}

h1 {
    font-size: $font_largest;
}

h4 {
    font-size: $font_medium_large;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: $mobile_font_largest;
    }

    p {
        font-size: $mobile_font_medium
    }

    h4 {
        font-size: $mobile_font_medium_large;
    }
}