$font_largest: 70px;
$font_medium: 20px;

body {
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

p {
    line-height: 1.75;
    font-size: $font_medium;
}