$special_color_dark: #333333;
$special_color_light: #f5ba07;

:root {
  --primary-color: #3498db;
  --background-color: #ffffff;
  --text-color: #333333;

  --special-color: #3D5AFEE6;
  --special-color-60: #3D5AFE99;
  --special-color-50: #3D5AFE80;

  --card-color: #F8F9FA;

  --glowing-card: 0 0 8px rgba(61, 90, 254, 1), 
                  0 0 10px rgba(61, 90, 254, 0.8), 
                  0 0 10px rgba(61, 90, 254, 0.6);
}

[data-theme="dark"] {
  --primary-color: #1abc9c;
  --background-color: #121212;
  --text-color: #e0e0e0;
  
  --special-color: #f5ba07E6;
  --special-color-60: #f5ba0799;
  --special-color-50: #f5ba0780;

  --card-color: #1F1F1F;

  --glowing-card: 0 0 8px rgba(245, 186, 7, 1), 
                  0 0 10px rgba(245, 186, 7, 0.8), 
                  0 0 10px rgba(245, 186, 7, 0.6);
}
