@import './abstracts/variables';
@import './base/typography';
@import './themes/colors';

@import './components/themeToggle';
@import './components/specialButton';
@import './components/cursor';
@import './components/swiping-card';
@import './components/regular-cards';
@import './components/tooltip';

@import './layout/regularworkexp';
@import './layout/certifications';
@import './layout/navigation';
@import './layout/hero';
@import './layout/aboutme';
@import './layout/workexp';
@import './layout/footer';
@import './layout/techstacks';
@import './layout/projects';


* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

body {
    transition: background-color .4s linear, color .4s linear;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    overflow-x: hidden;
}

.title {
    font-size: 25px;
    transition: all .2s linear;
    &:hover {
        font-size: 40px;
    }
}

.button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
//   cursor: pointer;
}

// @media screen and (max-width: 480px) {
//     .content {
//         width: 90%;
//     }
// }