@import './abstracts/variables';
@import './abstracts/loading';
@import './base/typography';
@import './themes/colors';

@import './components/themeToggle';
@import './components/specialButton';
@import './components/cursor';
@import './components/swiping-card';
@import './components/regular-cards';
@import './components/tooltip';
@import './components/confirm-dialog';

@import './layout/regularworkexp';
@import './layout/certifications';
@import './layout/navigation';
@import './layout/hero';
@import './layout/aboutme';
@import './layout/workexp';
@import './layout/footer';
@import './layout/techstacks';
@import './layout/projects';
@import './layout/detail-page';
@import './layout/error';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: background-color $transition-slow, color $transition-slow;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
  min-height: 100vh;
}

::selection {
  background-color: var(--special-color);
  color: var(--surface-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
