.cursor {
    position: fixed;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    $special_color: #f5ba07;
    background-color: rgba($special_color, 0.6);
    box-shadow: 0 0 5px rgba($special_color, 1), 
                0 0 30px 20px rgba($special_color, 0.5); 
    pointer-events: none;
    left: -9px;
    top: -9px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 9999;
}