@media screen and (min-width: 1224px) {
    [data-theme="dark"] .cursor {
        position: fixed;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        $special_color: var(--special-color-60);
        background-color: var(--special-color);
        box-shadow: 0 0 5px $special_color, 
                    0 0 60px 30px var(--special-color-50); 
        pointer-events: none;
        left: -7px;
        top: -7px;
        transition: 
            background-color 0.2s ease, 
            box-shadow 0.5s ease, 
            width 0.05s linear, 
            height 0.05s linear,
            left 0.05s linear,
            right 0.05s linear;
        z-index: 9999;

        &.hovered {
            width: 14px;
            height: 14px;
            left: -7px;
            top: -7px;
            background-color: var(--special-color); /* Brighter or different color */
            box-shadow: 0 0 10px var(--special-color), 0 0 0px var(--special-color-60);
            transform: scale(1.5); /* Enlarge the cursor slightly */
        }
        
        /* Click effect: Enlarged animation */
        &.clicked {
            width: 20px;
            height: 20px;
            left: -10px;
            top: -10px;
            transition: all 0.05s linear; /* Smooth animation */
            box-shadow: 0 0 0 var(--special-color);

            &::after {
                content: "";
                position: fixed;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                left: -3px;
                top: -3px;
                opacity: 0;
                background-color: transparent !important;
                border: 1px solid $special_color;
                background-color: white;
                animation: spreadClick .15s linear;
            }
        }
    }

    [data-theme="dark"] body {
        cursor: none;
    }
    
    [data-theme="dark"] a {
        cursor: none
    }

    [data-theme="light"] .hover-pointer {
        cursor: pointer;
    }
}

@media screen and (max-width: 1224px) {
    .hover-pointer {
        cursor: pointer;
    }
}

@keyframes spreadClick {
    0%   { 
        transform: scale(1); 
        opacity: 1;
    }
    100% { 
        transform: scale(8);
        opacity: 0;
    }
}