.regular-card {
    margin: 10px 0;
    
    .card {
        .company-wrapper {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            border-bottom: 1px solid var(--card-color);
            border-radius: 12px;
            padding: 25px;
            transition: all 0.5 ease;

            @media screen and (max-width: 480px) {
                padding: 10px;
            }

            &:hover {
                background-color: var(--card-color);
            }

            .company-title{
                display: inline-flex;
                align-items: center;
                .company-logo {
                    img {
                        width: 40px;
                        object-fit:cover;
                    }
                }
                .company-name {
                    font-weight: bold;
                    margin: 0 5px;
                }
            }
            .my-role {
                margin: 15px 0;
            }

            .show-more {
                margin: 5px 0;
                transition: all .2s ease;
                &:hover{
                    color: var(--special-color)
                }
            }
            .role-tasks {
                margin-left: 15px;
                height: 0px;
                opacity: 0;
                transition: all .3s linear;
                display: none;

                li {
                    margin: 5px 0;
                }

                &.active {
                    height: 100%;
                    opacity: 1;
                    display: block;
                }

            }

            .techs {
                display: flex;
                gap: 5px;
                flex-wrap: wrap;
                .tech {
                    display: flex;
                    align-items: center;
                    border: 1px solid var(--card-color);
                    margin-top: 3px;
                    padding: 6px;
                    border-radius: 5px;

                    img {
                        margin-right: 5px;
                        height: 20px;
                    }
                }
            }
        }
    }
}