.swiping-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    .contents{
        display: flex;
        justify-content: center;
        .swiper-controls {
            display: none;
        }
        .swiper-controls {
            position:absolute;
            top:0;
            right: 0;
            .control-wrapper {
                position:relative;
                display: flex;
                justify-content: space-between;
                .swiper-left, .swiper-right {
                    text-align: center;
                    padding: 5px;
                    background-color: var(--card-color);
                    font-size: 20px;
                    border-radius: 5px;
                    i {
                        margin: auto;
                    }
                }
                .swiper-right {
                    margin-left: 10px;
                }
            }
        }
        .card-wrapper {
            width: 60vw;
            margin: 40px 0;
            top: 0;
            position: absolute;
            opacity: 0.8;
            transition: transform 0.6s ease, z-index 0.2s ease;
            .card {
                padding: 25px;
                background-color: var(--card-color);
                border-radius: 12px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
                transition: transform 0.6s ease, z-index 0.2s ease;
                &:hover {
                    .company-logo {
                        img {
                            filter: grayscale(0%) !important;
                        }
                    }
                }
        
                .company-wrapper {
                    display: flex;
                    flex-direction: column;
                    .company-title{
                        display: inline-flex;
                        align-items: center;
                        margin-bottom: 10px;
                        .company-logo {
                            img {
                                width: 40px;
                                object-fit:cover;
                                filter: grayscale(100%);
                                transition: all .3s ease-in;
                            }
                        }
                        .company-name {
                            font-weight: bold;
                            margin: 0 5px;
                        }
                    }
                    .my-role {
                        margin: 15px 0;
                    }
                    .role-tasks {
                        margin-left: 15px;
                        li {
                            margin: 15px 0;
                        }
                    }
                }
            }
            &.active {
                z-index: 13;
                transform: translateX(0) scale(1);
                opacity: 1;
              }
          
            &.left {
                z-index: 2;
                transform: translateX(-35%) scale(0.7);
            }
        
            &.right {
                z-index: 2;
                transform: translateX(35%) scale(0.7);
            }
    
            &.none {
                display: none;
            }
        }

        @media screen and (max-width: 768px) {
            .card-wrapper {
                width: 80vw;
                &.left {
                    display: none;
                }
            
                &.right {
                    display: none;
                }
            }

            .swiper-controls {
                display: block;
            }
        }
    }
}