.tooltip-container {
    position: relative;
    background: var(--background-tooltip-container);
    cursor: pointer;
    transition: all $transition-fast;
    width: auto;
    height: 16px;
    border-radius: $radius-sm;
    font-size: $font-size-base;
  
    &:hover .tooltip {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
  
  .tooltip {
    --background-tooltip: #6e7681; // Default background color for tooltip
    position: absolute;
    top: -39px; // Adjusted top position
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5em;
    opacity: 0;
    pointer-events: none;
    transition: all $transition-medium;
    background: var(--background-tooltip);
    color: white; // Text color
    border-radius: $radius-sm;
    width: 210px;
    height: 30px;
    font-size: $font-size-xs;
    text-align: center;
  
    &::before {
      position: absolute;
      content: "";
      height: 0.6em;
      width: 0.6em;
      bottom: -0.2em;
      left: 50%;
      transform: translate(-50%) rotate(45deg);
      background: var(--background-tooltip); // Same background color as tooltip
    }
  }