.error-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
    gap: 5vw;

    .head-message {
        color: var(--special-color);
    }
    .error-message {
        color: var(--text-color);
        font-size: 1.5rem;
    }
    .back {
        .button-container {
            margin: 12px 0;
        }
    }
    .display-image {
        height: 400px;
        img {
            height: 100%;
            object-fit: contain;
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 10px;
        .head-message, .error-message {
            text-align: center;
        }
        .back .button-container {
            margin: 12px auto;
        }
        .display-image {
            height: 300px;
        }
        
    }
}