.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    min-height: 90vh;
    margin-top: 15px;
    .content {
        h1 {
            transition: all .3s ease;
            // &:hover {
            //     color: var(--special-color)
            // }
        }
        .headline {
            color: var(--special-color);
            font-weight: bold;
            margin-bottom: 20px;
        }
    }
}