.nav-container {
    width: 100vw;
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px); 
    transition: all .3s;
    z-index: 100;

    .content {
        display: flex;
        flex-direction: row;
        padding: 15px 10vw;
        justify-content: space-between;
        align-items: center;
    
        ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            justify-content: start;
    
            li {
                font-size: $font_medium;
                font-weight: 800;
                padding: 5px 25px 5px 0;
            }

            @media screen and (max-width: 480px) {
                li {
                    font-size: $mobile_font_medium;
                }
            }
        }
    }
    

    &.scrolled {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    }
}

