.regular-work-exp {
    margin-top: 80px;
    width: 100vw;
    .content {
        max-width: 1200px;
        margin: auto;
        padding: 0 15px;
    }

    @media screen and (max-width: 480px) {
        .content {
            width: 90%;
        }
    }
}