.work-exp {
    min-height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    .content{
        width: 70%;
        position: relative;
    }
}

@media screen and (max-width: 480px) {
    .work-exp {
        .content{
            width: 80%;
        }
    }
}