.work-exp {
    min-height: 70vh;
    display: flex;
    justify-content: center;

    &:hover {
        h3 {
            transition: color 3s ease;
            color: var(--special-color);
        }
    }

    .content{
        width: 70%;
        position: relative;
    }
}

@media screen and (max-width: 480px) {
    .work-exp {
        min-height: 80vh;
        .content{
            width: 80%;
        }
    }
}