.work-exp {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    
    &:hover {
        h3 {
            transition: color 3s ease;
            color: var(--special-color);
        }
    }

    .content{
        width: 70%;
        position: relative;
    }

    @media screen and (max-width: 480px) {
        .content {
            width: 90%;
        }
    }
}

@media screen and (max-height: 700px) {
    .work-exp{
        min-height: 100vh;
    }
}


@media screen and (max-width: 480px) and (min-width: 700px){
    .work-exp {
        min-height: 80vh;
        .content{
            width: 80%;
        }
    }
}